body{
    background-image: url('logo_github.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 175px 165px;
    background-position: 27px -35px;;
}

h1{
    text-align: center;
}

h3{
    margin: -5px 0;
    color: rgb(65, 131, 196);
}

p{
    text-indent: 1em;
}

#results{
    margin: 90px 80px;
    display: block;
}

#content{
    display: none;
    position: fixed;
    top: 30px;
    right: 5%;
    width: 30%;
    min-height: 310px;
    border: 1px solid #ccc;
    padding: 0 1em;
    box-shadow: 7px 5px #eee;
}

#loading{
    display: none;
    background-image: url('loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    min-height: 310px;
}

ul li{
    background-image: url('icon_book.jpg');
    background-repeat: no-repeat;
    background-size: 25px 30px;
    color: rgb(65, 131, 196);
    display: block;
    font-weight: bold;
    font-size: 24px;
    padding: 0 35px;
    list-style-type: none;
    margin: 8px 0;
}

ul li:hover{
    text-decoration: underline;
}

input {
    margin: -50px 300px;
    position: absolute;
    line-height: 30px;
	height: 30px;
    padding: 0 10px;
    border-radius: 5px;
}